body 
{

    font-family: Arial;
}
#main-container
{
    margin:150px;
    width: 600px;

}
table
{
    width: 100%;
    background-color: white;
    text-align: left;
    border-collapse: collapse;
}
th, td{
    padding: 20;
}
thead{
    background-color: #246355;
    color: white;
    border-bottom: solid 5px #0F362D;
}
tr:nth-child(even){
    background-color: #ddd;

}

tr:hover{
    background-color: #369681;
    color: wheat;
}